/* .breedsContainer{
    margin-top: 50px;
    border:  1px solid red;
} */

.breedsContainer p{
    height: 58px;
    width: 326px;
    font-size: 48px;
    /* text-align: center; */
    /* border: 1px solid lawngreen; */
}

.imageCont{
    display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     row-gap: 80px;
    margin-top: 50px;
    /* border: 1px solid blue; */
}

.imageCont img{
    height: 456px;
    width: 350px;

}

@media only screen and (max-width:600px){
    .imageCont{
        margin-left: 30px;
    }
}